
<!DOCTYPE html>
<html lang="es-CR">

<head>
    <title>Carnes Don Fernando</title>
    <meta name="description" content="Description">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Fernanda Gutierrez G">
    <meta name="author" content="Kevin Sandoval L">

    <!-- Mobile Specific Metas -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />

    <link rel="icon" href="~/assets/img/flaticon/cropped-logo-Don-Fernando-512px-32x32.png" sizes="32x32">
    <link rel="icon" href="~/assets/img/flaticon/cropped-logo-Don-Fernando-512px-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="~/assets/img/flaticon/cropped-logo-Don-Fernando-512px-180x180.png">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/login.css" />
</head>

<body>
    <div class="wrapper-flex">

        <div class="login-box">

            <div class="row row-floating justify-content-center">
                <img src="~/assets/img/logo.png" class="img-fluid logo-login" alt="">
            </div>

            <form class="login-form" action="IniciarSesion" method="post" id="frmLogin">

                <div class="form-row align-center">
                    <h1>Inicio de Sesión</h1>
                </div>

                <div class="form-row">
                    <input class="form-control" placeholder="Correo Electronico" type="email" name="" id="txtCorreo">
                </div>
                <div class="form-row">
                    <input class="form-control" placeholder="Contrase&ntilde;a" type="password" name="" id="txtContrasenna">
                </div>
                <div class="form-row">
                    <label id="msgLogin" style="color:red;"></label>
                </div>
                <div class="form-row justify-content-center">
                    <button type="button" class="btn btn-primary btn-red" id="btnIngresar">Ingresar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="~/js/Home/Home_Principal.js"></script>

</body>

</html >

